storage/database.sqlite
database/seed_admin.php
storage/reset_links.log
config/local.php
.env
storage/*.sqlite
storage/*.log
database/delete.sql

# Arquivos temporários do sistema
Thumbs.db
.DS_Store

# VS Code
.vscode/

# Arquivos compactados
*.rar
*.zip
*.7z